<h1>Forgot Password?</h1>
<h2>Happens to all of us. Tell us your email & we will send it to you.</h2>
<div class="columns">
    <div class="column wide">
      <% form_tag forgot_path do %>
        <p class="ctrl">
          <%= label_tag(:email, "Email") %>
          <%= text_field_tag :email, '', :class => "w250px" %>
        </p>
        <p class="ctrls">
          <span class="button-green-fat"><%= submit_tag("Go!") %></span>
          <%= link_to "Cancel", "javascript:history.go(-1);", :class => "alter-link" %>
        </p>
      <% end %>
    </div><!-- .column.wide -->
</div><!-- .columns -->
